# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).
[template-moodle-config-dist]
filename = config-dist.php.in
md5sum = b309bd4260b1b33280af91a3d1c14a4e

[template-apache-httpd]
filename = apache-httpd.conf.in
md5sum = 95c902f22680ee05e1d54e69ce4e3af8

[template-moodle-instance]
filename = moodle-instance.cfg.in
md5sum = fc1aa44382905fad04ca5bddb62aecc5
